@import '../../../../styles/variables';

$max-lines: 2;

.game {
  .game-disabled-status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 5%;
    background: $accent-contrast;
    box-shadow: $box-shadow-accent;
    z-index: 1;
    overflow: auto;
    border-radius: 3px;
    height: fit-content;
    margin: auto;
  }

  .name {
    @supports (-webkit-line-clamp: $max-lines) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: $max-lines;
      -webkit-box-orient: vertical;
    }
  }

  div[rating-badge] {
    position: absolute;
    right: -10px;
    top: -10px;
  }
}
