@import '../../../../styles/variables';

$player-size: 80px;
$name-size: divide($player-size, 4);

.player {
  @include height-width($player-size);
  border-radius: 50%;
  overflow: hidden;

  .name {
    height: $name-size;
    line-height: $name-size;
    font-size: $font-size-S;
  }
}
