/* You can add global styles to this file, and also import other style files */
@import 'variables';

.editor-container {
  padding: $default-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    padding: $default-margin;
  }

  .editor-photo-container {
    min-width: $editor-photo-size;
    flex: 0 0 $editor-photo-size;
    text-align: center;

    .editor-photo-wrapper {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      min-height: $editor-photo-size;
      width: 100%;

      .editor-photo {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }

      .editor-icon {
        height: $editor-icon-size;
        width: $editor-icon-size;
        font-size: $editor-icon-size;
        color: $accent-color;
      }
    }
  }

  .editor-form-bgg {
    flex: 1 0 100%;

    .editor-form-field {
      width: 100%;
    }
  }

  .editor-form {
    flex: 1 0 200px;

    .editor-form-field {
      width: 100%;
    }
  }

  .editor-buttons {
    flex: 1 0 100%;
    text-align: end;
  }
}
