/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/prebuilt-themes/indigo-pink';
@import '~@angular/material/theming';
@include mat-core();

// material theme
$material-palette: (
  primary: $primary-color,
  accent: $accent-color,
  warning: $warning-color,
  contrast: (
    primary: $primary-contrast,
    accent: $accent-contrast,
    warning: $warning-contrast,
  ),
);
$material-theme: mat-light-theme(mat-palette($material-palette, primary), mat-palette($material-palette, accent), mat-palette($material-palette, warning));
@include angular-material-theme($material-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.disabled {
  opacity: 0.5;
}

.primary {
  color: $primary-color;
}

.bold {
  font-weight: $font-weight-bold;
}
