<div class="container">
  <mat-card class="section">
    <div class="header">
      <span *ngIf="stat.allPlayers; else noPlayersTemplate"
        >Players:&nbsp;
        <span class="bold"> {{ stat.activePlayers }}</span>
        &nbsp;/&nbsp;
        <span class="bold"> {{ stat.allPlayers }}</span>
      </span>
      <ng-template #noPlayersTemplate>No players, please add one</ng-template>
      <button mat-button color="primary" class="btn player-add" (click)="addPlayer()">Add player</button>
    </div>
    <div class="list">
      <div class="player" *ngFor="let player of players; trackBy: trackPlayers" [ngClass]="{ disabled: player.disabled }" (click)="togglePlayer(player)">
        <!-- <mat-icon class="player-icon">person</mat-icon> -->
        <img class="player-photo" src="{{ player.photo }}" alt="" />
        <div class="player-name primary">{{ player.name }}</div>
      </div>
    </div>
  </mat-card>
  <mat-card class="section">
    <div class="header">
      <span *ngIf="stat.allGames; else noGamesTemplate">
        Games for
        <span class="bold">{{ stat.activePlayers }}</span>
        players:&nbsp;
        <span class="bold">{{ stat.activeGames }}</span>
        &nbsp;/&nbsp;
        <span class="bold">{{ stat.allGames }}</span>
      </span>
      <ng-template #noGamesTemplate>No games, please add one</ng-template>
      <button mat-button color="primary" class="btn game-add" (click)="addGame()">Add game</button>
    </div>
    <div class="list">
      <div class="game" *ngFor="let game of games; trackBy: trackGames" [ngClass]="{ disabled: game.disabled }" (click)="toggleGame(game)">
        <img class="game-photo" src="{{ game.photo }}" alt="" />
        <div class="game-name primary">{{ game.name }}</div>
      </div>
    </div>
  </mat-card>

  <div class="spinning-wheel"></div>
</div>
