<!-- games list -->
<div class="container">
  <div class="section">
    <game-tile *ngFor="let game of games$ | async; trackBy: trackById" [item]="game" (action)="gameAction($event)"></game-tile>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <!-- footer: edit games -->
  <span class="footer-games">
    <span *ngIf="stat.allGames; else noGamesTemplate">
      Games:&nbsp;
      <span class="count"> {{ stat.activeGames }}</span>
    </span>
    <ng-template #noGamesTemplate>No games</ng-template>
    <button mat-button color="primary" (click)="openPanel(gamesPanel)">Edit</button>
  </span>

  <!-- footer: start button -->
  <button class="footer-start" mat-raised-button color="primary" [disabled]="inProgress" (click)="start()">
    Start
    <mat-icon svgIcon="dices"></mat-icon>
  </button>

  <!-- footer: edit players -->
  <span class="footer-players">
    <span *ngIf="stat.allPlayers; else noPlayersTemplate">
      Players:&nbsp;
      <span class="count">{{ stat.activePlayers }}</span>
    </span>
    <ng-template #noPlayersTemplate>No players</ng-template>
    <button mat-button color="primary" (click)="openPanel(playersPanel)">Edit</button>
  </span>
</div>

<!-- PANEL players -->
<ng-template #playersPanel>
  <mat-toolbar color="primary" class="sticky"> Edit players </mat-toolbar>
  <div class="editor-section">
    <div *ngFor="let player of players$ | async as playersList; trackBy: trackById" class="editor-item">
      <player-tile [item]="player" (action)="playerAction(player)"></player-tile>
      <span class="flex">
        <button mat-button color="primary" (click)="editPlayer(player)">Edit</button>
        <button mat-button color="accent" (click)="deletePlayer(player)">Delete</button>
      </span>
    </div>
    <div class="editor-footer sticky-bottom">
      <button mat-stroked-button color="primary" (click)="editPlayer()">
        <mat-icon>add</mat-icon>
        Add player
      </button>
      <button mat-button color="warn" (click)="deletePlayers()">
        <mat-icon>delete</mat-icon>
        Delete all players
      </button>
    </div>
  </div>
</ng-template>

<!-- PANEL Games -->
<ng-template #gamesPanel>
  <mat-toolbar color="primary" class="sticky"> Edit games </mat-toolbar>
  <div class="editor-section">
    <div *ngFor="let game of gamesAll$ | async; trackBy: trackById" class="editor-item">
      <game-tile [editMode]="true" [item]="game" (action)="gameAction($event)"></game-tile>
      <span class="flex">
        <button mat-button color="primary" (click)="editGame(game)">Edit</button>
        <button mat-button color="accent" (click)="deleteGame(game)">Delete</button>
      </span>
    </div>
    <div class="editor-footer sticky-bottom">
      <button mat-stroked-button color="primary" (click)="editGame()">
        <mat-icon>add</mat-icon>
        Add game
      </button>
      <button mat-button color="warn" (click)="deleteGames()">
        <mat-icon>delete</mat-icon>
        Delete all games
      </button>
    </div>
  </div>
</ng-template>

<!-- PANEL Time to play -->
<ng-template #timeToPlayPanel>
  <mat-toolbar color="primary" class="sticky"> Time to play </mat-toolbar>
  <div class="editor-section">
    <button
      mat-button
      [class.mat-raised-button]="time === (timeToPlayChange$ | async)"
      color="primary"
      class="time animated"
      *ngFor="let time of timeToPlayList$ | async"
      (click)="selectTime(time)"
    >
      {{ time.text || time.name }}
    </button>
  </div>
</ng-template>
