@import '../styles/variables';

.container {
  padding: 20px;

  .section {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .header {
      text-align: center;

      .btn {
        margin-left: 10px;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.game,
.player {
  margin: 10px;
  padding: 3px;
  text-align: center;
  cursor: pointer;

  .name {
    font-weight: $font-weight-normal;
  }

  &:hover .photo {
    padding: 3px;
  }

  &:hover .name {
    filter: hue-rotate(45deg);
  }
}

.player {
  height: $player-size;
  flex: 0 0 $player-size;

  .player-photo {
    width: $player-photo-size;
    height: $player-photo-size;
    border-radius: 50%;
  }
}

.game {
  height: $game-size;
  flex: 0 0 $game-size;

  .game-photo {
    width: $game-photo-size;
    height: $game-photo-size;
  }
}

.spinning-wheel {
  text-align: center;
}
