@import '../../../styles/variables';

.result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: $default-margin;
  }

  .result-image {
    @include height-width(auto, $result-image-size);
    animation: imageBlur 1s;
  }

  .result-text {
    font-size: $font-size-XXL;
    line-height: $font-size-XXL;
    padding: multiply($default-margin, 2);
    font-weight: $font-weight-bold;
  }
}
